---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Sostenibilidad" description="Sostenibilidad de la Actividad">
  <section class="content-section">
    <div
      class="glass-panel header-panel animate-fade-in-up"
      style="animation-delay: 0.2s;"
    >
      <h2>
        🌿 Pulmones Verdes: Huerta Medicinal para la Resiliencia Familiar en
        Ciudad Guabinas.
      </h2>
      <p class="intro">
        El proceso de análisis multidimensional sobre las problemáticas en
        Ciudad Guabinas (Yumbo) generó una profunda empatía y responsabilidad al
        ser conscientes de la afectación por la presión industrial de su
        entorno.
      </p>
    </div>
  </section>
</MainLayout>
